{{ define "main" }}
<section class="hero">
  <div class="container col-xxl-8">
    <div class="row align-items-center justify-content-center py-5 g-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/img/bootstrap-themes.png" alt="Bootstrap Themes" class="img-fluid d-block mx-auto">
      </div>
      <div class="col-lg-6 order-lg-first">
        <h1>{{ .Params.heading }}</h1>
        <p class="lead">{{ .Content | markdownify }}</p>
        <div class="d-grid gap-2 d-md-flex">
          {{ with .Params.btn1 }}
          {{ if and .text .url }}
          <a role="button" href="{{ .url }}" target="_blank" class="btn btn-lg btn-primary px-4 me-md-2">{{ .text }}</a>
          {{ end }}
          {{ end }}
          {{ with .Params.btn2 }}
          {{ if and .text .url }}
          <a role="button" href="{{ .url }}" target="_blank" class="btn btn-lg btn-outline-secondary px-4">{{ .text
            }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9 col-xl-8">
        {{ $images := .Resources.ByType "image" }}
        {{ $ratio := (slice 3 2) }}
        <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {{ range $index, $value := $images }}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ $index }}" 
            {{ if eq $index 0 }}class="active" aria-current="true" {{ end }}aria-label="Slide {{ add $index 1}}"></button>
            {{ end }}
          </div>
          <div class="carousel-inner">
            {{ range $index, $value := $images }}
            {{ $width := $value.Width }}
            {{ $heightRatio := div (index $ratio 1 | float) (index $ratio 0 | float) }}
            {{ $height := mul $width $heightRatio | int }}
            {{ $fill := $value.Fill (printf "%dx%d" $width $height) }}
            <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
              <img src="{{ $fill.RelPermalink }}" class="d-block w-100 img-fluid" alt="Slide {{ add $index 1}}">
            </div>
            {{ end }}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}